@{
    ViewBag.Title = "About";
}
<br />
<form method="get">
    <fieldset>
        Film Türü Seçin: <select id="MovieType" class="form-control">
        <option value="0">Akstiyon</option>
        <option value="1">Drama</option>
        <option value="2">Komedi</option>
        <option value="3">Bilim Kurgu</option>
        <option value="4">Animasyon</option>
        <option value="5">Macera</option>
        <option value="6">Fantastik</option>
        </select>
    </fieldset>
</form>